@font-face {
    font-family: 'Slackey';
    src: url('Slackey-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Numans';
    src: url("DarkerGrotesque-Regular.ttf") format('truetype');
}


body {
    display: flex;
    margin: 0;
    font-family: 'Numans', serif;
}

/* Side panel styling */
.side-panel {
    background-color: #1f453d;
    color: white;
    width: 250px;
    padding: 30px;
    height: 100vh;
}

.side-panel h1 {
    margin-top: 0;
    font-size: 45px;
    font-family: 'Slackey', sans-serif;
    color :#F5F5DC
}

.side-panel a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 15px 0;
}

.side-panel a:hover {
    text-decoration: underline;
}

/* Main content styling */
.main-content {
    background-color: #F5F5DC;
    padding: 40px;
    flex-grow: 1;
}

.main-content h1 {
    font-size: 40px;
    margin: 0;
    display: inline-block;
}

.main-content .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-content .user-info .age {
    font-size: 20px;
    margin-left: 10px;
    color: #555;
}

.main-content hr {
    border: 1px solid #ccc;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 28px;
}

.section-header a {
    color: #1f453d;
    text-decoration: none;
    font-size: 32px;
}

.section-header a:hover {
    text-decoration: underline;
}

.bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.bubble {
    background-color: #1f453d;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 17px;
    color: white;
    display: inline-block;
}

.logout-btn {
    background: #1f453d; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
}
.logout-btn:hover {
    background: #2a5c4d;
}
